.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



/* homepage layout */
.home-page {
  display: grid;
  grid-template-columns: 1fr 18fr 1fr;
  grid-template-rows: 7px auto;
  grid-template-areas: 
    "header header header"
    "left main right";
}

.home-page-main{
  display: grid;
  grid-area: main;
  grid-template-columns: repeat(auto-fit, 150px);
  place-content: center;
  column-gap: 20px;
  row-gap: 40px;
}

/* weather card */
.weather-card{
  display: grid;
  grid-template-rows: 20px 15 0px 30px;
  grid-template-areas:
    "first"
    "second"
    "third";
  box-shadow: 10px 7px grey
}

.weather-card-first{
  grid-area: "first";
  font-size: larger;
  font-weight: bold;
  align-self: center;
  justify-self: center;
}

.weather-card-second{
  grid-area: "second";
}

.weather-card-third{
  grid-area: "third";
  align-self: center;
  justify-self: center;
  font-size: medium;
  font-weight: bold;
  color: grey;
}


